@font-face {
    font-family: 'Geist';
    src: url('./Geist-Regular.eot');
    src: url('./Geist-Regular.eot?#iefix') format('embedded-opentype'),
        url('./Geist-Regular.woff2') format('woff2'),
        url('./Geist-Regular.woff') format('woff'),
        url('./Geist-Regular.ttf') format('truetype'),
        url('./Geist-Regular.svg#Geist-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('./Geist-SemiBold.eot');
    src: url('./Geist-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('./Geist-SemiBold.woff2') format('woff2'),
        url('./Geist-SemiBold.woff') format('woff'),
        url('./Geist-SemiBold.ttf') format('truetype'),
        url('./Geist-SemiBold.svg#Geist-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('./Geist-Bold.eot');
    src: url('./Geist-Bold.eot?#iefix') format('embedded-opentype'),
        url('./Geist-Bold.woff2') format('woff2'),
        url('./Geist-Bold.woff') format('woff'),
        url('./Geist-Bold.ttf') format('truetype'),
        url('./Geist-Bold.svg#Geist-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist';
    src: url('./Geist-Medium.eot');
    src: url('./Geist-Medium.eot?#iefix') format('embedded-opentype'),
        url('./Geist-Medium.woff2') format('woff2'),
        url('./Geist-Medium.woff') format('woff'),
        url('./Geist-Medium.ttf') format('truetype'),
        url('./Geist-Medium.svg#Geist-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}